# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
BOT_USERNAME=your_bot_username

# Solana RPC Configuration
SOLANA_RPC_URL=https://mainnet.helius-rpc.com
# Database Configuration
DATABASE_URL=postgresql+asyncpg://username:password@host_url:5432/db_name

# Security Settings
API_KEY="YOU_API_KEY"
# Optional: Logging Configuration
LOG_LEVEL=INFO

ENCRYPTION_KEY=""
ENCRYPTED_PRIVATE_KEY=""
FEE_MAIN_WALLET=""
SECRET_KEY="FEE_MAIN_WALLET_SECRET_KEY"
